<div class="form-floating mb-3">
    <input
        type="text"
        id="floatingInput"
        class="form-control"
        placeholder="Enter your desired text..."
        [(ngModel)]="username"
    />
    <label for="floatingInput">Enter your desired text...</label>
    <p class="fw-bold fs-4 m-4">
        Text:
        <span class="fw-light">
            {{ username }}
        </span>
    </p>
    <button
        class="btn btn-primary p-2 w-100"
        [disabled]="checkField()"
        (click)="resetField()"
    >
        Reset Text
    </button>
</div>
