<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">Add new Servers or Blueprints</h2>
        <p class="text-center">Exploring AngularJS by using its most important fundamentals and core concepts...</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" placeholder="Angular Development" /> -->
        <input type="text" class="form-control" #serverNameInput placeholder="Angular Development" />
        <label>Server Content</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent" placeholder="This is a example description about the server..." /> -->
        <input type="text" class="form-control" #serverContentInput placeholder="This is a example description about the server..." />
        <br />
        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
        <button class="btn btn-info" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
</div>
