:root {
    --clr-odd: #16a085;
    --clr-even: #e74c3c;
}

.container {
    margin-top: 30px;

    --directives-size: 1.625rem;
}

.heading {
    font-weight: bolder;
    margin-bottom: 1.325rem;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.btn-wrapper {
    display: grid;
    place-items: center;
    margin-top: 2.625rem;
}

button {
    width: 33%;
    padding: 10px;
    font-size: 2.125rem;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-center div {
    width: 100%;
}

li {
    width: 100%;
    font-size: 2.125rem;
    text-align: center;
}

.odd {
    color: var(--clr-odd);
}

.even {
    color: var(--clr-even);
}

.basic {
    font-size: var(--directives-size);
    background-color: rgb(15, 137, 185);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

p {
    color: #0a0141;
    text-align: center;
}

.advanced {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

.directives {
    font-size: var(--directives-size);
    margin-bottom: 2rem;
    border-radius: 10px;
}
