<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
                Only show odd numbers
            </button>
            <br /><br />
            <ul class="list-group">
                <!-- Angular 17 simple solution -->
                <div>
                    <h1>Angular 17+ control flow solution</h1>
                    <hr />
                    @for (number of numbers; track $index) {
                        @if (onlyOdd && number % 2 !== 0) {
                            <li
                                [ngClass]="{ odd: number % 2 !== 0 }"
                                [ngStyle]="{
                                    backgroundColor:
                                        number % 2 !== 0
                                            ? 'yellow'
                                            : 'transparent'
                                }"
                                class="list-group-item"
                            >
                                {{ number }}
                            </li>
                        } @else if (!onlyOdd && number % 2 === 0) {
                            <li
                                [ngClass]="{ even: number % 2 === 0 }"
                                [ngStyle]="{
                                    backgroundColor:
                                        number % 2 === 0
                                            ? 'limegreen'
                                            : 'transparent'
                                }"
                                class="list-group-item"
                            >
                                {{ number }}
                            </li>
                        }
                    }
                </div>

                <!-- Old Angular -->
                <div>
                    <h1>Old Angular Solution with *ngIf/*ngFor directives</h1>
                    <hr />
                    <div *ngIf="onlyOdd">
                        <li
                            class="list-group-item"
                            [ngClass]="{ odd: odd % 2 !== 0 }"
                            [ngStyle]="{
                                backgroundColor:
                                    odd % 2 !== 0 ? 'yellow' : 'transparent'
                            }"
                            *ngFor="let odd of oddNumbers"
                        >
                            {{ odd }}
                        </li>
                    </div>
                    <div *ngIf="!onlyOdd">
                        <li
                            class="list-group-item"
                            [ngClass]="{ even: even % 2 === 0 }"
                            [ngStyle]="{
                                backgroundColor:
                                    even % 2 === 0 ? 'limegreen' : 'transparent'
                            }"
                            *ngFor="let even of evenNumbers"
                        >
                            {{ even }}
                        </li>
                    </div>
                </div>
            </ul>
            <p appHighlight>
                Styling the heading with a custom basic angular directive.
            </p>
            <p appColored [defaultColor]="'yellow'" [highlightColor]="'red'">
                Styling the heading with a custom advanced angular directive.
            </p>
        </div>
    </div>
</div>
