<div
    class="container d-flex flex-column justify-content-center align-items-center"
>
    <button class="btn btn-primary" (click)="onDisplayDetails()">
        Display Details
    </button>
    @if (displayDetails) {
        <p class="lead fs-4 mt-3">Secret Password = tuna</p>
    }

    <div
        class="container d-flex justify-content-center align-items-center flex-wrap mt-3"
    >
        @for (logItem of log; track logItem; let index = $index) {
            <div
                [ngStyle]="{
                    backgroundColor: getBackgroundColor(index),
                    padding: '1rem',
                    margin: '0.4rem',
                    borderRadius: '10px'
                }"
                [ngClass]="{
                    'white-text': applyWhiteText(index)
                }"
            >
                <span>{{ logItem }}</span>
            </div>
        } @empty {
            {{ "No clicks" }}
        }
    </div>
</div>
