<app-places-container title="Your Favorite Places">
    @if (places()) {
        <app-places [places]="places()!" />
    } @else if (places()?.length === 0) {
        <p class="fallback-text">Unfortunately, no favourite could be found.</p>
    } @else {
        @if (isFetching() && !error()) {
            <div class="preloader-wrapper">
                <p class="preloader-info">Fetching favourite places...</p>
                <img
                    class="preloader"
                    src="loader.svg"
                    alt="Fetching available places..."
                />
            </div>
        }

        @if (error()) {
            <div class="preloader-wrapper">
                <p class="fallback-text">{{ error() }}</p>
            </div>
        }
    }
</app-places-container>
