<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change</button>
            <button class="btn btn-danger margin-xs" (click)="onDestroyFirst()">Destroy</button>
            @for (serverElement of serverElements; track serverElement) {
                <app-server-element [srvElement]="serverElement" [name]="serverElement.name">
                    <p #contentParagraph>
                        @if (serverElement.type === "server") {
                            <strong style="color: red">{{ serverElement.content }}</strong>
                        }
                        @if (serverElement.type === "blueprint") {
                            <em>{{ serverElement.content }}</em>
                        }
                    </p>
                </app-server-element>
            }
        </div>
    </div>
</div>
